.container-orders{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.container-orders{
    display: flex;
    flex-wrap: wrap;
}

.datas{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ctnr-datas{

    margin: 15px 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40vh;
}


.ctnr-datas input{
    width: 50%;
    color: white;
    background-color: #665df5;
    border: none;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.datas li{
    list-style-type: none;
    margin-bottom: 15px;
    
}