/* table{
    margin: 80px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    overflow-y: scroll;
}

thead{
    display: flex;
    border-bottom: 1px solid #665df5;
    margin-bottom: 20px;
}

thead tr{
    width: 100%;
    display: flex;
    padding-bottom: 8px;
}

thead tr th{
    width: 20%;
}

tbody tr{
    display: flex;
    width: 100%;
}

tbody tr td{
    width: 20%;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 8px 12px;
}

tr:nth-child(even){
    background-color: skyblue;
} */

.min-height{
    min-height: 72.7vh;
}