body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
}

/* Formulaire */
.form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ctnr-form{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.09);
    border-radius: 20px;
    height: 60%;
    justify-content: space-around;
}

.login{
    color: #665df5;
    text-align: left;
    margin: 0;
    padding: 35px;
}

.ctnr-input{
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 35px;
}

.ctnr-input input{
    padding: 12px;
    border-radius: 5px;
    border: none;
}

.ctnr-input input[type="password"]{
    margin: 30px 0;
}

.ctnr-input input[type="submit"]{
    width: 30%;
    border: none;
    cursor: pointer;
    background-color: #665df5;
    color: white;
}

.ctnr-input a{
    text-decoration: none;
    color: black;
}

.ctnr-input a span:hover{
    border-bottom: 1px solid white;
    color: #665df5;;
}

.ctnr-input div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.not-signup{
    margin-top: 15px;
}

/* Image */
.ctnr-img{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

img{
    width: 100%;
}