body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./font/montserrat/subset-Montserrat-Bold.woff2') format('woff2'),
      url('./font/montserrat/subset-Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./font/montserrat/subset-Montserrat-Regular.woff2') format('woff2'),
      url('./font/montserrat/subset-Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, thead tr th{
  font-family: 'Montserrat';
  font-weight: bold;
}

a, input[type], li, p, th, td{
  font-family: 'Montserrat';
  font-weight: normal;
}

input[type], button, a{
  font-size: 16px;
}